node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
.git
.env
.env.*
*.log
.storage
credentials
infra/docker/data/**
!infra/docker/data/**/
!infra/docker/data/**/README.md
infra/pelias/metro/.cache
infra/pelias/metro/data
